h1 {
    text-align: center;
    text-transform: capitalize;
    color: chartreuse;
}

#wrapper {
    width: 70%;
    height: 22rem;
    background-color: lightgray;
    margin: auto;
    padding-top: 10rem;
    border-end-end-radius: 2rem;
    border-top-left-radius: 2rem;
}

#spinner {
    width: 10rem;
    height: 10rem;
    background-color: rgb(114, 106, 106);
    margin: auto;
    border: 0.15rem solid white;
    border-top: 0.25rem solid green;
    border-radius: 100%;
    animation: 0.6s spin infinite ease-in-out ;
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
}